.form-container {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	height: 100vh;

	.form-box {
		height: 500px;
		background-color: #000;
		padding: 30px;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;

		.form-progressbar-box {
			padding: 10px;
			border-radius: 5px;
			display: flex;
			justify-content: center;
			gap: 5px;
			background-color: #333;

			.form-progressbar-box-step-details {
				padding: 5px;
				font-size: 20px;
				font-weight: 500;
				letter-spacing: 0.5px;
				color: #999;
				background-color: #333;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 30px;

				.form-progressbar-box-step-details-number {
					border-radius: 50%;
					background-color: #b799ff;
					padding: 10px 15px;

					.form-progressbar-step-details-number {
						background-color: transparent;
					}
				}

				.form-progressbar-box-step-details-text {
					background-color: transparent;
				}

				.form-progress-box-step-details-linear-box {
					height: 5px;
					width: 120px;
					background-color: #b799ff;
				}
			}
		}

		.form {
			display: block;
			width: 100%;
			padding: 5px;
			font-weight: 500;
			color: #fff;
			background-color: #000;

			.form-header-text {
				padding: 5px 0;
				margin-bottom: 15px;
				font-size: 28px;
				background-color: #000;
			}

			.form-box-input {
				font-size: 16px;
				font-weight: 400;
				color: #fff;
				background-color: #000;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				flex-direction: column;
				gap: 5px;

				.form-input-text {
					background-color: #000;
				}
			}
			.form-box-error-message {
				background-color: transparent;
				display: flex;
				justify-content: center;

				height: 20px;
				.form-error-message {
					color: red;

					background-color: transparent;
				}
			}

			.form-input {
				border: 1px solid #555;
				border-radius: 5px;
				width: 100%;
				padding: 10px;
				color: #fff;
				font-size: 18px;
				outline: none;
				background-color: #000;
			}
		}

		.form-box-buttons {
			width: 100%;
			padding: 5px;
			background-color: #000;
			display: flex;
			justify-content: center;
			gap: 5px;
			.form-box-button {
				width: 100%;
				padding: 5px;
				background-color: #000;
				display: flex;
				justify-content: center;
				gap: 5px;

				.form-button {
					width: 100%;
					padding: 8px;
					border: none;
					border-radius: 5px;
					font-size: 18px;
					font-weight: 500;
					letter-spacing: 0.5px;
					background-color: #b799ff;
					color: #fff;
					cursor: pointer;
					transition: opacity 0.3s;

					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
}

.popup {
	width: 90%;
	height: 60%;
	border: none;
	border-radius: 10px;
	padding: 100px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;
	gap: 20px;

	.popup-details {
		display: flex;
		gap: 10px;

		.popup-details-text {
			padding: 15px;
			text-align: left;
		}
	}

	.popup-button {
		width: 100%;
		color: #fff;
		background-color: #b799ff;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		font-weight: 500;
		font-size: 16px;
		cursor: pointer;
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}
}
